@import url('https://fonts.googleapis.com/css2?family=Georama&family=Lato&display=swap');

.nav {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: 'Georama', sans-serif;
}